@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

nav.primary-navbar {
	width:  100%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

@media screen and (min-width: 480px) {
	nav.primary-navbar {
		display:  flex;
	}
}

nav.primary-navbar .brand {
	padding: 2rem;
}

nav.primary-navbar .brand a img {
	filter: brightness(0%);
}

nav.primary-navbar ul.nav {
	display: flex;
	list-style: none;
}

@media screen and (min-width: 480px) {
	nav.primary-navbar ul.nav {
		margin-left: auto;
		padding: 2rem;
	}
}

nav.primary-navbar ul.nav li a {
	padding: 0.5rem 1rem;
	text-decoration: none;
}

nav.primary-navbar ul.nav li a:hover,
nav.primary-navbar ul.nav li a:focus {
	text-decoration: underline;
}

nav.primary-navbar-home {
	position: relative;
	z-index: 10;
	margin-bottom: -162px;
	box-shadow: none;
}

@media screen and (min-width: 480px) {
	nav.primary-navbar-home {
		margin-bottom: -122px;
	}
}

nav.primary-navbar-home .brand a img {
	filter: unset;
}

nav.primary-navbar-home ul.nav li a {
	color:  white;
}

section.hero {
	position: relative;
	width: 100vw;
	height: 40rem;
	background: url("../images/campus.jpg") center center #5D2C85;
	background-size: cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:  white;
}

@media screen and (min-width: 480px) {
	section.hero {
		height: 100vh;
	}
}

section.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5D2C85;
    opacity: 0.8;
    z-index: 0;
}

section.hero h1 {
	font-size: 3.5rem;
	font-weight: 900;
	margin: 0;
	margin-top: 8rem;
	z-index: 1;
}

@media screen and (min-width: 480px) {
	section.hero h1 {
		font-size: 6rem;
		margin-bottom: -2rem;
	}
}

@media screen and (min-width: 780px) {
	section.hero h1 {
		font-size: 9rem;
	}
}

section.hero p {
	font-size: 2rem;
	font-weight: 300;
	margin: 0;
	margin-bottom: 2rem;
	z-index: 1;
}

@media screen and (min-width: 480px) {
	section.hero p {
		font-size: 3rem;
	}
}

@media screen and (min-width: 780px) {
	section.hero p {
		font-size: 4.5rem;
	}
}

section.hero a {
	font-weight: bold;
	text-decoration: none;
	background: white;
	padding: 1.5rem 3rem;
	color: #5D2C85;
	border-radius: 10px;
	z-index: 1;
}

section.hero a:hover {
	color: black;
	background: #eee;
}

section.photo-gallery {
	padding: 1rem;
}

@media screen and (min-width: 480px) {
	section.photo-gallery {
		padding: 3rem;
	}
}

section.photo-gallery ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

section.photo-gallery ul li {
	width: 100%;
	padding: 1rem;
	text-align: center;
}

@media screen and (min-width: 480px) {
	section.photo-gallery ul li {
		width: calc(50% - 2rem);
	}
}

@media screen and (min-width: 780px) {
	section.photo-gallery ul li {
		width: calc(33% - 2rem);
	}
}

